.centered {
    text-align: center;
    margin: 0px;
}

#title {
    font-size: 3rem;
    font-weight: normal;
}

#subtitle {
    font-size: 1.5rem;
}

body {
    background-color: gray;
    border: solid white;
    border-width: 10px 0 20px 10px;    
}

li {
    list-style-type: none;
}

#content {
    text-decoration: underline;
}

.monospaced {
    font-family: monospace;
    font-weight: normal;
}

#second-element {
    text-decoration: underline;
}