/* minor CSS reset */
/* You should not need to change anything here */
html, body, div, h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	margin: 20px;
}

h1, h2, h3 {
	text-transform: uppercase;
    font-family: 'Bangers', cursive;
}

h1 {
	text-align: center;
	margin: 10px;
	font-size: 30px;
}

h2 {
	font-size: 20px;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-top: 10px;
}

h3 {
	text-align: center
}
.row {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	list-style-type: none;
	
}

.cluster {
	border-color: gray;
	border: 1px;
	border-style: dashed;
	background-color: lightgray;
	padding: 10px;
	margin: 10px;
	
}

.image {
height: 100px
}

.images {
	display: flex;
	list-style-type: none;
	padding: 10px;
}

